<!-- Admin Panel Page -->
<!-- Path: Admin Panel > Login > Companies -->
<div id="wrapper">
  <ng-include src="'/admin-sidebar.html'"></ng-include>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="page-header">Companies</h1>
      <br/>
      <button class="btn btn-warning" ng-click="newCompany()">Create a New Company</button>
      <p>
        <br/>
        <br/>You can see the service providers here:</p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Website</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in companies">
              <td>{{item.name}}</td>
              <td>{{item.website}}</td>
              <td>
                <button class="btn btn-primary" ng-click="delete(item._id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>